<div class="page-container">

  <mat-card class="address-card glass-panel">

    <div class="header">
      <h1>Electrol Roll 2002</h1>
      <p>
        <strong>Important Notice</strong> <br/><br/>
        For the original and official voter list, please refer to the Chief Electoral Officer, Maharashtra website:
        <a href="https://ceoelection.maharashtra.gov.in/2002/2002rolldata.aspx" target="_blank">
          https://ceoelection.maharashtra.gov.in/2002/2002rolldata.aspx
        </a> <br/><br/>
        Selected District => Mumbai City Assembly Constituency => Chinckpokli
      </p>
    </div>

    <mat-form-field appearance="outline" class="search-box apple-search-box">
      <mat-icon matPrefix>search</mat-icon>
      <mat-label>Search address</mat-label>
      <input
        matInput
        [(ngModel)]="filterText"
        (input)="applyFilter()"
        placeholder="Type filename or address..."
      />
      <mat-hint>Try searching for a street or building block like "Keshavrao"</mat-hint>
    </mat-form-field>

    <div class="table-container">

      <table mat-table [dataSource]="filteredData" class="address-table apple-table">

        <!-- Address -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let row" style="white-space: pre-line;">  <span [innerHTML]="row.address"></span> </td>
        </ng-container>

        <!-- File -->
        <ng-container matColumnDef="filename">
          <th mat-header-cell *matHeaderCellDef> File </th>
          <td mat-cell *matCellDef="let row"> {{row.filename}} </td>
        </ng-container>
        
        <!-- Open -->
        <ng-container matColumnDef="open">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let row">
            <button
              mat-raised-button
              color="primary"
              class="apple-primary-btn"
              (click)="openFile(row)">
              Open
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

    </div>

  </mat-card>

</div>